body {
  header {
    background-color: #ff9933;
    height: 60px;
    font-size: 1em;
    padding: 0px;

    #logo {
      font-size: 1em;
      text-align: center;
    }

    nav {
      width: 300px;
      margin-top: 10px;
      margin: auto;

      ul {
        list-style: none;
        font-size: 40px;
        padding: 0px;
        font-size: 20px;
        padding-top: 0px;
        height: 100%;
        margin: 0px;

        li {
          display: inline;
          padding-left: 5px;
          height: 100%;
          text-align: centre;
          border: none;
        }
      }
    }
  }

  #navbodyspace {
    height: 4px;
  }

  #mainimage {
    img {
      width: 100%;
      border: 3px solid black;
      box-sizing: border-box;
    }
  }

  #textinformation {
    section {
      font-size: 0.4em;
      margin: 4px 8px;
      padding: 10px;
      background-color: #f2f2f2;
    }

    .curvedBox {
      border-radius: 10px;
      padding-left: 4px;
      padding-top: 4px;
      border: 2px solid black;
    }
  }

  #voteSection {
    margin-bottom: 40px;
    position:fixed;
    width: 100%;
    bottom: 0;

    #voteDown {
      float: left;
      background-color: #cc0000;
      margin-left: 30px;
    }

    #voteUp {
      float: right;
      background-color: #33cc33;
      margin-right: 30px;
    }

    .voteButton {
      width: 80px;
      height: 80px;
      text-align: center;
      line-height: 80px;
    }

    .circle {
      border: 4px solid black;
      border-radius: 50%;
      behavior: url(PIE.htc);
    }
  }

  footer {
    position:fixed;
    width: 100%;
    bottom:0;
    text-align: center;
    font-size: 30px;
    background-color: #bfbfbf;
  }

  background-color: #fff;
  margin: 0px;
  font-size: 40px;

  /* unvisited link */
  a:link {
      color: black;
      text-decoration: none;
  }

  /* visited link */
  a:visited {
      color: black;
  }

  /* mouse over link */
  a:hover {
      color: black;
      text-decoration: underline;
  }

  /* selected link */
  a:active {
      color: black;
  }
}




/***** RESPONSIVE DESIGN *****/

@media screen and (min-width: 408px) {
  body {
    #mainimage {
      background-color: #595959;
      padding-top: 8px;
      img {
        width: 70%;
        border: 3px solid black;
        box-sizing: border-box;
        margin-left: 15%;
      }
    }

    footer {
      background-color: green;
    }
  }
}

@media screen and (min-width: 570px) {
  body {

    #textinformation {
      section {
        font-size: 0.5em;
        width: 44%;
        padding: 10px;
        background-color: #f2f2f2;
        height: 80px;
        margin: 0px;
        margin-top: 4px;
      }

      #infobio {
        float: left;
        margin-left: 3%;
      }

      #otherratings {
        float: right;
        margin-right: 2%;
      }
    }

    footer {
      background-color: purple;
      height: 26px;
      font-size: 0.6em;
    }
  }
}

@media screen and (min-width: 648px) {
  body {
    #textinformation {
      section {
        width: 230px;
      }

      #infobio {
        float: left;
        margin-left: 2px;
      }

      #otherratings {
        float: left;
        margin-left: 2px;
        margin-right: 0px;
      }
      width: 500px;
      float: left;
    }

    #voteSection {
      width: 148px;
      float: right;
      position: static;
      margin-top: 16px;

      #voteDown {
        float: left;
        margin: 0px;
      }
      #voteUp {
        float: right;
        margin: 0px;
      }
      .voteButton {
        width: 66px;
        height: 66px;
        text-align: center;
        line-height: 66px;
      }
    }

    footer {
      background-color: pink;
      line-height: 26px;
    }
  }
}

@media screen and (min-width: 766px) {
  body {
    header {
      height: 40px;
      #logo {
        width: 280px;
        float: left;
      }
      nav {
        padding-top: 10px;
        width: 300px;
        height: 40px;
        float: right;
      }
      li {
        /* mouse over link */
        a:hover {
            text-decoration: none;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
        }
      }
    }

    #voteSection {
      width: 160px;

      .voteButton {
        margin-left: 10px;
      }

      /*#mainimage {
        img {
          max-height: 540px;
        }
      }*/
    }

    footer {
      background-color: lime;
      height: 18px;
    }
  }
}
