body {
  background-color: #fff;
  margin: 0px;
  font-size: 40px;
}

header {
  background-color: #ff9933;
  height: 100px;
  font-size: 90px;
  padding: 4px;
  padding-left: 10px;
}

#logo {
  float: left;
}

nav {
  float: right;
  padding-right: 10px;
}

nav ul {
  list-style: none;
  font-size: 40px;
  padding: 0px;
  padding-top: 30px;
  height: 100%;
  margin: 0px;
}

nav ul li {
  display: inline;
  border-left: 3px solid black;
  padding-left: 5px;
  height: 100%;
  text-align: centre;
}

#mainimage img {
  width: 100%;
  border: 8px solid black;
  box-sizing: border-box;
}

#navbodyspace {
  height: 35px;
}

#textinformation {
  font-size: 34px;
}

#textinformation section {
  padding: 10px;
}

.curvedBox {
  border-radius: 10px;
  background-color: white;
  margin: 20px;
  margin-top: 10px;
  padding-left: 4px;
  padding-top: 4px;
  border: 2px solid black;
}

section .circle {
  border: 12px solid black;
  border-radius: 50%;
  behavior: url(PIE.htc);
}

.voteButton {
  width: 180px;
  height: 180px;
  text-align: center;
  line-height: 180px;
}

#voteDown {
  float: left;
  background-color: #cc0000;
  margin-left: 60px;
}

#voteUp {
  float: right;
  background-color: #33cc33;
  margin-right: 60px;
}

#voteSection {
  position:fixed;
  width: 100%;
  bottom: 0;
  margin-bottom: 60px;
}

footer {
  background-color: orange;
  position:fixed;
  width: 100%;
  bottom:0;
  text-align: center;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: black;
}

/***** RESPONSIVE DESIGN *****/

@media screen and (max-width: 350px) {
  footer {
    background-color: red;
  }

  .voteButton {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }

  section .circle {
    border: 2px solid black;
  }

  #logo {
    float: none;
    text-align: center;
    width: 100%;
    font-size: 34px;
  }

  header {
    height: 56px;
  }

  nav {
    float: none;
    padding-right: 3px;
    text-align: centre;
  }

  nav ul {
    font-size: 20px;
    padding-top: 0px;
    height: 100%;
    margin: 0px;
  }

  nav ul li {
    height: 100%;
    text-align: centre;
    border: none;
  }

  nav ul li a {
    color: white;
  }

  #navbodyspace {
    height: 6px;
  }

  #textinformation section {
    font-size: 14px;
  }

  #mainimage img {
    border: 2px solid black;
  }
}

@media screen and (max-width: 528px) {
  .voteButton {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 50px;
  }
}
